.card {
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    border-radius: 25px;
    box-sizing: border-box;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    position:inherit;
    text-align: center;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;;
    height: fit-content;
    width: 100%;

}

.searchIcon {
    padding: 15px;
    border: 1px solid grey;
    float: right;
    background: #f1f1f1;
    border-radius: 40px;
    align-items: center;
    cursor: pointer;
}

.inputEnterCity  {
    box-sizing: border-box;
    width:75%;
    border-radius: 15px;
    padding:15px;
    border-color: transparent;
}

.rowCard:after {
    padding-top: 40px;
    content: "";
    display: table;
    clear: both;
}

.cardinCol1 {
    padding-top: 40px;
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 600px) {
    .cardinCol1 {
        width: 100%;
    }
}


.temp {
    padding-top: 40px;
    float: left;
    width: 33.33%;
    font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
    .cardinCol2 {
        width: 100%;
    }
}


.description {
    padding-top: 40px;
    float: left;
    width: 33.33%;
}

@media screen and (max-width: 600px) {
    .cardinCol3 {
        width: 100%;
    }
}


.row {
    padding-top: 50px;
}

.card .body {
    padding: 1rem 1.25rem;
}

.columnProp {
    column-rule-style: solid;
    column-rule-width: 1px;
    column-span: all;

}

.col {
    justify-content: center;
    display: grid;
    align-content: center;
    column-count: 3;
}
.card .header {
    border-bottom: 1px solid #cccccc;
    padding: 1rem 1.25rem;
}